In [1]:
import numpy as np
import pandas as pd

In [78]:
tit_df = pd.read_csv("/home/gera/titanic/titanic1.csv")
print(tit_df.head())
df = tit_df.groupby(["Sex", "Survived"])
df
#print(len(tit_df))
#tit_df["PClass"].count()

   PassengerID                                           Name PClass    Age  \
0            1                   Allen, Miss Elisabeth Walton    1st  29.00
1            2                    Allison, Miss Helen Loraine    1st   2.00
2            3            Allison, Mr Hudson Joshua Creighton    1st  30.00
3            4  Allison, Mrs Hudson JC (Bessie Waldo Daniels)    1st  25.00
4            5                  Allison, Master Hudson Trevor    1st   0.92

      Sex  Survived  SexCode
0  female         1        1
1  female         0        1
2    male         0        0
3  female         0        1
4    male         1        0

In [24]:
ser = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
#print(ser)
b = 'b'
print(ser[:-3])

a    1
b    2
dtype: int64

In [45]:
#data = [1,2,3,4,5]
#df0 = pd.DataFrame(data, columns=['c'])
#data1 = [['Alex', 21], ['Alexandra', 23], ['George', 24]] 
#df1 = pd.DataFrame(data1, columns=['Name', 'Age'])
#df1
#dic_ = {'Num':[1,2,3,4,5]}
#dic_['Num'][4]
dic_ = {'one':pd.Series([1,2,3], index=['a','b','c']),
           'two':pd.Series([4,6,50], index=['a','b','d'])}
df0 = pd.DataFrame(dic_)
print(df0)
print('//////////////')
print(df0['one'])

   one   two
a  1.0   4.0
b  2.0   6.0
c  3.0   NaN
d  NaN  50.0
//////////////
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64